
/* 
    Created on : 27 feb. 2020, 6:05:03
    Author     : Juan Francisco Vico Martínez
*/
#contenedor { margin: 0 auto;
              width: 600px;
              height: 700px;
              border: 1px solid olive;
              text-align: center;
               
}

    

#imagen {  margin: 50px auto;
           width: 550px;
           height: 211px;
           background: url('agapornis.jpg');
    
}

#menu_horizontal{ margin-top: 70px; 
    
}

#menu ul{ list-style: none;
          text-align: center;
        
}
#menu li{  display: inline;
           text-align: center;
           margin: 0 10px 0 0;
           background-color: #eeeeee;
           padding: 3px;
           border: 1px solid #ccc;
    
}
#menu li a { padding: 2px 7px;
             color: #666;
             background-color: #eeeeee;
             border: 1px solid #ccc;
             text-decoration: none;
             font-weight: bold;
 
}
#menu li a:hover { background: rgba(0,0,0,0);
                   color: #3a7999;
                   box-shadow: inset 0 0 0 3px #3a7999;
    
}
header { margin-top: 100px;}

/* --Sección de Formulario.html */
#imagen_inscripcion {  margin: 20px auto;
                       width: 300px;
                       height: 151px;
                       background: url('inscripcion.png');
    
}

.cabecera {
    margin-top: 30px;
}
#formulario {  width: 450px;
               height: auto;
               text-align: left;
               margin: 0 auto;
}   

.error {  width: 450px;
          height: 180px;
          font-size: 1em;
          margin: 5px auto;
          border: 1px solid red;
}

.botones { clear: both;
           width:300px;
           margin: 15px auto;
           float: none;
           text-align: center;
            
}

/* --Sección de Formulariohtml5.html */
#imagen_competicion {  margin: 20px auto;
                       width: 152px;
                       height: 151px;
                       background: url('imagen_competicion.png');
    
}
#formulario5 {  width: 600px;
               height: auto;
               text-align: left;
               margin: 0 auto;
}